@charset "UTF-8";

:root{
    --fonte1: Verdana, Geneva Tahoma, sansserif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkgray;
    min-height: 100vh;
}
 
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header p{
    display: block;
    font-size: 4vw;
}

a:hover {
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
    font-family: var(--fonte3);
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section.normal{
    background-color: white;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
     background-size: cover;
    background-attachment: fixed; 
}

#img001{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

#img002{
    background-image: url(../imagens/background002.jpg);
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 3vw;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}