@charset "UTF-8";

:root{
    --fonte1: Verdana, Geneva Tahoma, sansserif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkgray;

}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
    font-family: var(--fonte3);
}

section.normal{
    background-color: white;
}

section.imagem {
    background-color: black;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    /* background-size: cover;
    background-attachment: fixed; */

}

#img001{
    
}

#img001>p {
    background-color: rgba(0, 0, 0, 0.396);
    color: white;
    width: 15%;
    padding: 5px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1.5em;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}