@charset "UTF-8";

body{
    margin: 0px;
    
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;   
}

a:hover{
    text-decoration: underline;
}

main{
    padding: 10px;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1.5em;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

